<h2>Invoice Inbox</h2>
<div ng-controller="InvoiceInboxController">
    <div class="blankpage-main" ng-show="!isPreview">
        
        <div class="row">
            <div class="col-xs-6">
                <span>Total Invoice:</span> <strong> {{InvList.length}}</strong> <br />
            </div>
            <div class="col-xs-6">
                <label>Filter : </label>
                <input type="text" placeholder="search" ng-model="search" class="form-control" />            

            </div>
        </div>
        <hr />
        <table class="table table-striped table-advance table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>InvId</th>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Created Date</th>
                    <th>No of Medicine</th>
                    <th>Billing Amt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in InvList| filter:search">
                    <td>
                        {{$index + 1}}

                    </td>
                    <td>{{item.invId}}</td>
                    <td>
                        {{item.patient }}<br /> {{item.paddress}}                       
                    </td>
                    <td>{{item.docName}} <br/>{{item.docRegi}}</td>
                    <td>{{item.createdDate | date :'dd/MM/yyyy'}}</td>
                    <td>{{item.noOfMedicine}}</td>
                    <td>Rs. {{item.billingAmount}}</td>
                    <td><a ng-click="childDetails(item);" style="cursor:pointer;">View details</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="blankpage-main" ng-show="isPreview">   
        <div class="row">
            <div class="col-xs-2"> <label>InvId</label> <br/>  {{Mastinv.invId}} </div>
            <div class="col-xs-2"> <label>Patient</label> <br/> {{Mastinv.patient }}<br /> {{Mastinv.paddress}}  </div>
            <div class="col-xs-2"> <label>Doctor</label> <br/>  {{Mastinv.docName}} <br />{{Mastinv.docRegi}}</div>
            <div class="col-xs-2"> <label>Created Date</label> <br/> {{Mastinv.createdDate}} </div>
            <div class="col-xs-2"> <label>No of Medicine</label> <br/> {{Mastinv.noOfMedicine}} </div>
            <div class="col-xs-2"> <label>Billing Amt</label> <br/> Rs {{Mastinv.billingAmount}} </div>
        </div>
    </div>

    <div class="blankpage-main" ng-show="isPreview">
 <div ng-show="!returnPreview">
     <div class="row">
         <button class="btn btn-primary" style="float:left;">
             Print Invoice
         </button>
         <button class="btn btn-primary" style="float:right;" ng-click="onReturn();">
             Return Medicine
         </button>
         <span style="color:red; padding-left:100px;">
             {{returnItemRequired}}
         </span>
     </div>
     <table class="table table-striped table-advance table-hover">
         <thead>
             <tr>
                 <th>#</th>
                 <th>Name</th>
                 <th>Mfg</th>
                 <th>Qty</th>
                 <th>Batch No.</th>
                 <th>MRP</th>
                 <th>Exp Date</th>

             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="item in Mastinv.childInv">
                 <td>
                     <input type="checkbox" value="{{item.Id}}" ng-checked="item.selected"
                            ng-click="toggleItemIndex($event, $index)" />
                 </td>
                 <td>{{item.name}}</td>
                 <td>{{item.mfg}}</td>
                 <td>{{item.qty}}</td>
                 <td>{{item.batchNo}}</td>
                 <td>{{item.mrp | number :2}}</td>
                 <td>{{item.expDate | date :'dd/MM/yyyy'}}</td>
             </tr>
         </tbody>
     </table>

 </div>
        <div ng-show="returnPreview && !isSucessDB">
            <label>Medicine details : </label><hr />
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Mfg</th>
                        <th>Sold Qty</th>
                        <th>Qty</th>
                        <th>Batch No.</th>
                        <th>MRP</th>
                        <th>Exp Date</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ReturnInv">
                        <td>
                           {{$index + 1}}
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.mfg}}</td>
                        <th>{{item.soldQty}}</th>
                        <td><input type="number" ng-model="item.qty" class="form-control col-xs-2" /></td>
                        <td>{{item.batchNo}}</td>
                        <td>{{item.mrp | number : 2}}</td>
                        <td>{{item.expDate | date :'dd/MM/yyyy'}}</td>
                        <td>
                            <input type="text" ng-model="item.remarks" placeholder="Remarks" class="form-control"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr/>
            <button class="btn btn-primary" ng-click="ngSubmitReturn();">
                Submit
            </button>
        </div>
        <div ng-show="isSucessDB && isPreview">
            <div class="row alert alert-success">
             <label>Success!! </label>   Medicine has been successfully Return!!
                <hr />
                <a class="btn btn-primary" href="/sales/InvInbox">
                    << Invoice Inbox
                </a>
            </div>
        </div>
        <div ng-show="!isSucessDB && !isPreview">
            <span class="row alert alert-denger">
                <label>Error!! </label>   Something went wrong. please try again..
            </span>
        </div>

    </div>

    </div>