<h2>Invoice Inbox</h2>
<div ng-controller="InvoiceInboxController">
    <div class="blankpage-main">
        <button ng-click="a()">aaa</button>
        <div class="row">
            <div class="col-xs-6">
                <span>Total Invoice:</span> <strong> {{InvoiceList.masterInvoice.length}}</strong> <br />
            </div>
            <div class="col-xs-4">
                <label>Filter : </label>
                <input type="text" placeholder="search" ng-model="search" class="form-control" />            

            </div>
        </div>
        <hr />
        <table class="table table-striped table-advance table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Created Date</th>
                    <th>No of Medicine</th>
                    <th>Billing Amt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in InvoiceList.masterInvoice| filter:inboxfiler">
                    <td>
                        {{$index + 1}}

                    </td>
                    <td>
                        {{item.vendorName }}<br /> {{item.vendorCompany}}
                        <br />{{item.vendorAddress}}, {{item.vendorContact}}
                    </td>
                    <td>{{item.placedOrder}}</td>
                    <td>{{item.noOfItems}}</td>
                    <td>{{item.status}}</td>
                    <td><a ng-click="childDetails(item);" style="cursor:pointer;">View details</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>