@model LoginViewModel
@{
    
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>PharmaBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta Tags -->
    <!-- font-awesome-stylesheet -->
    <link href="~/Login/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-stylesheet -->
    <link href="~/Login/css/style.css" rel='stylesheet' type='text/css' />
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <!--//fonts--> 
</head>
<body>
    <!-- main-content -->
    <h1>Welcome to PharmaBook</h1>
    <div class="main-content-agileits">
        <!-- left-content -->
        <div class="left-text-w3ls">
            <h3>Software Features</h3>
            <p><a class="fa fa-bullseye" aria-hidden="true"></a>Quick Access</p>
            <p><a class="fa fa-bullseye" aria-hidden="true"></a>Dashboard</p>
            <p><a class="fa fa-bullseye" aria-hidden="true"></a>Reporting</p>
            <p><a class="fa fa-bullseye" aria-hidden="true"></a>Purchase Management</p>
            <p><a class="fa fa-bullseye" aria-hidden="true"></a>Stock Management</p>
            <p><a class="fa fa-bullseye" aria-hidden="true"></a>Sales Management</p>
            <p><a class="fa fa-bullseye" aria-hidden="true"></a>Invoice Management</p>
        </div>
        <!-- //left-content -->
        <!-- form -->
        <div class="login-w3l">
            <div class="top-img-agileits-w3layouts">
                <h2 class="sub-head-w3-agileits">Member <span>Login</span> area</h2>
                <div asp-validation-summary="ModelOnly" style="color:red;">

                </div>
            </div>
            <div class="login-form">
                <form method="post" asp-antiforgery="true">
                    <input asp-for="UserName" type="text" name="UserName" placeholder="UserName" required />
                    <input asp-for="Password" type="password" name="password" required placeholder="Password"/>
                    <ul>
                        <li>
                            <input type="checkbox" id="brand1" asp-for="RememberMe">
                            <label for="brand1" style="color: white;">Remember me</label>
                        </li>
                    </ul>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
        <!-- //form -->
        <div class="clear"></div>
    </div>

    <!--// main-content -->
    <!--Copyright-->
    <div class="footer-agileits">
        <p>© @DateTime.Now.Year PharmaBook. All Rights Reserved | 
        Powered by <a href="http://profunia.com/" target="_blank"> Profunia Technologies</a></p>
    </div>
    <!--//Copyright-->
</body>
</html>


