@{
    ViewData["Title"] = "Home Page";
}

<h2>Dashboard</h2>
<div ng-controller="DashBoardController">
    <div class="row">
        <div class="col-xs-6">
            <div class="blankpage-main">
                <div id="topmedicinechart"></div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="blankpage-main">
                <div id="topvendorchart"></div>
            </div>
        </div>

    </div>
</div>



