@{
    ViewData["Title"] = "Home Page";
}

<div ng-controller="DashboardController">
    <!--market updates updates-->
  
    <div class="market-updates">
        <a href="/Purchased">
            <div class="col-md-4 market-update-gd" title="open purchased order">
                <div class="market-update-block clr-block-1">
                    <div class="col-md-8 market-update-left">
                        <h3>@ViewBag.OpenedPO</h3>
                        <h4>Open PO</h4>

                    </div>
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-file-text-o"> </i>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </a>
        <a href="/Home/OutOfStockMedicine">
            <div class="col-md-4 market-update-gd" title="Less then 5 qty medicine in stock">
                <div class="market-update-block clr-block-2">
                    <div class="col-md-8 market-update-left">
                        <h3>@ViewBag.outOfStock</h3>
                        <h4>Out of stock</h4>
                    </div>
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-eye"> </i>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </a>
        <a href="/Home/TotalExpMedicine">
            <div class="col-md-4 market-update-gd">
                <div class="market-update-block clr-block-3" title="Records as per expired medicine and with in 3 months going to expired.">
                    <div class="col-md-8 market-update-left">
                        <h3>@ViewBag.TotalExpMedicine</h3>
                        <h4>Expired Medicine</h4>

                    </div>
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-battery-quarter"> </i>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </a>
        <div class="clearfix"> </div>
    </div>
    <!--market updates end here-->
    <br />
   
        @if (TempData["accErr"] != null)
        { <div class="row">
              <div class="blankpage-main">
                  <span class="alert alert-warning">@TempData["accErr"]</span>
                  </div>
                  <br />
              </div>
        }
    

    <div class="row">     
           
        <div class="col-xs-6">
            <div class="blankpage-main">
                <a href="/home/SellingMedicineReport">
                    <div id="topmedicinechart"></div>
                    </a>
</div>
        </div>
        <div class="col-xs-6">
            <div class="blankpage-main">
                <a href="/sales/SalesResport">
                    <div id="topvendorchart"></div>
                </a>
            </div>
        </div>

    </div>
</div>

@section Scripts{
<script src="~/Scripts/dashboard.js"></script>
    <script>
        $('#menu').load('click', 'li', function () {
            $('#menu li.active').removeClass('active');
            console.log("#menu-home");
            $('#menu-home').addClass('active');
        });        
    </script>
}



