@model ProductViewModel
@{
    ViewData["Title"] = "Create";
}

<div ng-controller="ProductController">
    <h2>Create New Medicine</h2>
    <div class="blankpage-main" ng-show="divhide1">
        <div class="row">
            <div class="col-xs-6">
                <a href="" class="btn btn-primary" ng-click="bcktoinbx('create')"><< Back to Inbox</a>
                <a href="/Product/BulkUpload" class="btn btn-primary">Create Bulk Medicine</a>
                <hr />
            </div>

        </div>
        <div class="row mt">
            <div class="col-xs-6">

                <div class="form-group">
                    <label>Medicine Name <span style="color:red;"> *</span></label>
                    <input required class="form-control" placeholder="Medicine Name" ng-model="MediProdct.MedicineName">
                    <span asp-for="name" style="color:red;"></span>
                </div>
                <div class="form-group">
                    <label>Batch no# <span style="color:red;"> *</span></label>
                    <input class="form-control" required placeholder="Batch no#" ng-model="MediProdct.batchNo">
                    <span asp-for="batchNo" style="color:red;"></span>
                </div>

                <div class="row alert alert-success">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Stef</label>
                            <input class="form-control" type="number" min="1" placeholder="Stef" ng-model="stef">
                           
                            </div>
                        </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Tablets/capsule</label>
                            <input class="form-control" type="number" min="1" placeholder="tablets" ng-model="tablets">
                        </div> 
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Each Stef Price</label>
                            <input class="form-control" type="text" placeholder="Stef Price" ng-model="StefPrice" ng-keyup="getStockMRP()">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <small id="emailHelp" class="form-text text-muted">Note : 3 stef x 10 tablets = 30 stocks </small>
                    </div>
                </div>               
                
                <div class="form-group">

                    <label>Stock <span style="color:red;"> *</span></label>
                    <input class="form-control" type="number" min="1" ng-disabled="isStefActive" required placeholder="Opening Stock" ng-model="MediProdct.openingStock">                   
                    <span asp-for="openingStock" style="color:red;"></span>
                </div>
                <div class="form-group">
                    <label>Exp Date <span style="color:red;"> *</span></label>
                    <input type="text" class="form-control datepicker" required placeholder="Click here for Exp Date" ng-model="MediProdct.ExpDt">
                    <span asp-for="expDate" style="color:red;"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Mfg <span style="color:red;"> *</span></label>
                    <input class="form-control" placeholder="Mfg" ng-model="MediProdct.CompanyName">
                </div>
                <div class="form-group">
                    <label>MRP <span style="color:red;"> *</span></label>
                    <input class="form-control" placeholder="MRP" ng-disabled="isStefActive" ng-model="MediProdct.MRP">
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Select Vendor</label>
                    <select class="form-control" id="exampleSelect1" ng-options="s.id as s.vendorName for s in VendorList" ng-model="MediProdct.vendorID"></select>
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Remarks</label>
                    <input class="form-control" placeholder="Remarks" ng-model="MediProdct.Remarks">
                </div>
                <div class="form-group">
                    <span style="color:red;">
                        {{rqtErr}}
                    </span>
                    <br /><br />
                    <button type="submit" class="btn btn-primary" ng-click="AddMedcin()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="blankpage-main" ng-show="divhide2">
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="" class="btn btn-primary" ng-click="bcktoinbx('inbox')">Create New Medicine</a>
                            <br />
                            <label>Total Medicine : {{ProductList.length}}</label>
                        </div>
                        <div class="col-xs-8 right">
                            <input type="text" placeholder="Search Vendor" class="form-control" ng-model="searchbox" />
                        </div>
                    </div>
                    <div style="overflow: auto;height: 550px;">
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Medicine Name</th>
                                    <th>Batch No</th>
                                    <th>Exp Date </th>
                                    <th>Mfg</th>
                                    <th>M.R.P</th>
                                    <th>Stock</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ProductList|filter: searchbox">
                                    <td>{{$index+1}}                                    
                                    </td>
                                    <td><span ng-hide="cClass==item.id">{{item.name }}</span><input type="text" ng-model="item.name" ng-show="cClass==item.id" style="width: 160px;" /></td>
                                    <td class="hidden-phone"><span ng-hide="cClass==item.id">{{item.batchNo}}</span><input type="text" ng-model="item.batchNo" ng-show="cClass==item.id" style="width: 110px;" /></td>
                                    <td><span ng-hide="cClass==item.id">{{item.expDate}}</span><input type="text" ng-model="item.expDate" style="width: 110px;" ng-show="cClass==item.id" /></td>
                                    <td><span ng-hide="cClass==item.id">{{item.companyName}}</span><input type="text" ng-model="item.companyName" ng-show="cClass==item.id" style="width: 110px;" /></td>
                                    <td><span ng-hide="cClass==item.id">{{item.mrp}}</span><input type="text" ng-model="item.mrp" ng-show="cClass==item.id" style="width: 110px;" /></td>
                                    <td><span ng-hide="cClass==item.id">{{item.openingStock}}</span><span ng-show="cClass==item.id">{{item.openingStock}}</span></td>
                                    <td>
                                        <button class="btn btn-success btn-xs" ng-click="Updtdata(item)" ng-show="cClass==item.id"><i class="fa fa-check"></i>Save</button>
                                        <button class="btn btn-primary btn-xs" ng-click="showdata(item,1)" ng-hide="cClass==item.id"><i class="fa fa-pencil"></i>Edit</button>
                                        <button class="btn btn-danger btn-xs" ng-click="delitem(item.id)"><i class="fa fa-trash-o"></i> Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /content-panel -->
            </div><!-- /col-md-12 -->
        </div>
    </div>
</div>


