<ul id="menu">
    <li id="menu-home"><a href="index.html"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
   
    <li><a asp-action="index" asp-controller="sales"><i class="fa fa-bar-chart"></i><span>Invoice</span></a></li>
    <li><a asp-action="Index" asp-controller="Product"><i class="fa fa-map-marker"></i><span>Product</span></a></li>   
    <li><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Stock</span></a></li>
    <li><a asp-action="Index" asp-controller="Vendor"><i class="fa fa-bar-chart"></i><span>Vendor</span></a></li>
    <li><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Purchase</span></a></li>
    <li><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Return </span></a></li>
    <li><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Patient</span></a></li>

    <li><a href="maps.html"><i class="fa fa-map-marker"></i><span>Doctors</span></a></li>

    
   
</ul>