<ul id="menu">
    <li id="menu-home"><a asp-action="Index" asp-controller="Home"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
    <li>
        <a asp-action="index" asp-controller="sales"><i class="fa fa fa-edit"></i><span>Invoice</span><span class="fa cfa fa-angle-right" style="float: right"></span></a>
        <ul>
            <li><a asp-action="index" asp-controller="sales">Create Invoice</a></li>
            <li><a asp-action="InvInbox" asp-controller="sales">Invoice Inbox</a></li>            
        </ul>
    </li>
    <li>
        <a asp-action="Create" asp-controller="Product"><i class="fa fa-file-archive-o"></i><span>Product</span><span class="fa cfa fa-angle-right" style="float: right"></span></a>
        <ul>
            <li><a asp-action="Create" asp-controller="Product">Product</a></li>
            <li><a asp-action="PurchasedHistory" asp-controller="Product">Product History</a></li>
        </ul>
    </li>   
   
    <li>
        <a asp-action="Index" asp-controller="Purchased"><i class="fa fa-desktop"></i><span>Purchase</span><span class="fa cfa fa-angle-right" style="float: right"></span></a>
        <ul>
            <li><a asp-action="Index" asp-controller="Purchased">Purchase Inbox</a></li>
            <li><a asp-action="CreatePurchasedOrder" asp-controller="Purchased">Create New Purchased Order</a></li>
            <li><a asp-action="CreateDirectPO" asp-controller="Purchased">Create New Purchase Entry</a></li>
            
            
        </ul>
    </li>
    <li><a asp-action="SalesResport" asp-controller="sales"><i class="fa fa-line-chart"></i><span>Sales Reports</span></a></li>
    <li><a asp-action="Index" asp-controller="Vendor"><i class="fa fa-child"></i><span>Vendor</span></a></li>
    <li><a asp-action="Index" asp-controller="stock"><i class="fa fa-flask"></i><span>Stock</span></a></li>
    <li><a asp-controller="Home" asp-action="Profile"><i class="fa fa-user"></i><span>Profile </span></a></li>
    @{
        if (User.Identity.Name.Equals("admin@admin.com"))
        {
            <li><a asp-controller="PharmaBook" asp-action="admin"><i class="fa fa-cog"></i><span>Admin</span></a></li>

        }
    }
    
    @*<li><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Patient</span></a></li>

    <li><a href="maps.html"><i class="fa fa-map-marker"></i><span>Doctors</span></a></li>*@

    
   
</ul>