
@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript">
    function printDiv(divName, id) {
        //  $('.btn').hide();
        var colcnt = ($("#" + id).find('tr')[0].cells.length) - 1;
        var printContents = document.getElementById(divName).innerHTML;
        var newLbl = $("#" + divName + ",#" + id + " tr").find("input:text,th:last,td:eq(" + colcnt + ")").hide().end().html();
        var printWindow = window.open('', '', 'height=400');
        printWindow.document.write('<html><head><title style=""></title>');
        printWindow.document.write('</head><body>');
        if (id == 'tbl3') {
            printWindow.document.write(newLbl);
        }
        else {
            printWindow.document.write(newLbl);
        }
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
        $("#" + id + " tr").find("input:text,th:last,td:eq(" + colcnt + ")").show()
        //    location.reload();
    }
</script>
<h2>Purchased Inbox</h2>
<div class="blankpage-main" ng-controller="PurchasedInboxController">
    <div ng-show="!childPoView && !purchasedEntryView">


        <div class="row">
            <div class="col-xs-6">
                <span>Total PO:</span> <strong> {{filtered.length}}</strong> <br />
            </div>
            <div class="col-xs-4">
                <label>Filter : </label>
                @*<input type="text" placeholder="search" ng-model="search" class="form-control" />*@
                <label class="radio-inline"><input type="radio" name="optradio" checked ng-click="onInboxFiler('Open')">Open</label>
                <label class="radio-inline"><input type="radio" name="optradio" ng-click="onInboxFiler('Closed')">Closed</label>
                <label class="radio-inline"><input type="radio" name="optradio" ng-click="onInboxFiler('All')">All</label>

            </div>
            <div class="col-xs-2">                
                <button type="button" style="float:right" class="btn btn-default btn-sm" onclick="printDiv('Open','tbl1')">
                    <span class="glyphicon glyphicon-print"></span> Print
                </button>
            </div>
        </div>
        <div id="Open">
            <div ng-show="hide">
                <h1 style="text-align:center;line-height:5px;">{{curuser.clinicname}}</h1>
                <h3 style="text-align:center;line-height:.25px;font-weight:normal">{{curuser.Title}}</h3>
                <h3 style="text-align:center;line-height:5px;font-weight:normal">{{curuser.address}}</h3>
                <h3 style="text-align:center;line-height:15px;font-weight:normal">Email: {{curuser.email}} | Mobile: {{curuser.mobile}}</h3>
                <h3 style="text-align:center;line-height:.5px;font-weight:normal">DL No# {{curuser.dlno}}</h3>
                <h2 style="text-align:center">Purchased Order Inbox</h2>
                <hr />
                <span>Total PO:</span> <strong> {{filtered.length}}</strong>
                <span style="float:right">
                    <label class="radio-inline"><input type="radio" name="optradio" checked ng-click="onInboxFiler('Open')">Open</label>
                    <label class="radio-inline"><input type="radio" name="optradio" ng-click="onInboxFiler('Closed')">Closed</label>
                    <label class="radio-inline"><input type="radio" name="optradio" ng-click="onInboxFiler('All')">All</label>
                </span>
                <hr />
            </div>
            <table class="table table-striped table-advance table-hover" rules="rows" style="width:100%" id="tbl1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="text-align:center">Vendor</th>
                        <th style="text-align:center">Created Date</th>
                        <th style="text-align:center">No Of Medicine</th>
                        <th style="text-align:center">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in filtered = (masterPo | filter: inboxfiler)">
                        <td>
                            {{$index + 1}}
                        </td>
                        <td>
                            {{item.vendorName }}<br /> {{item.vendorCompany}}
                            <br />{{item.vendorAddress}}, {{item.vendorContact}}
                        </td>
                        <td style="text-align:center">{{item.placedOrder}}</td>
                        <td style="text-align:center">{{item.noOfItems}}</td>
                        <td style="text-align:center">{{item.status}}</td>
                        <td><a ng-click="childDetails(item);" style="cursor:pointer;">View details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="childPoView && !purchasedEntryView">
        <div class="row">
            <div class="col-xs-6">
                <label>Total Medicine: <strong> {{childPO.cpoList.length}}</strong> </label><br />
                <label>Vendor : </label>
                {{childPO.vendorName }}, {{childPO.vendorCompany}}, {{childPO.vendorAddress}}, {{childPO.vendorContact}}
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary" ng-click="backtoPurchased();">
                    << Purchased Inbox
                </button>
                <button class="btn btn-primary" ng-click="CreatePurchased();">
                    Create Purchased
                </button>

            </div>
            <div class="col-xs-2">
                <button type="button" id="prntbtn" style="float:right" class="btn btn-default btn-sm" onclick="printDiv('detail','tbl2')">
                    <span class="glyphicon glyphicon-print"></span> Print
                </button>
            </div>
        </div>
        <div id="detail">
            <div ng-show="hide">
                <h1 style="text-align:center;line-height:5px;">{{curuser.clinicname}}</h1>
                <h3 style="text-align:center;line-height:.25px;font-weight:normal">{{curuser.Title}}</h3>
                <h3 style="text-align:center;line-height:5px;font-weight:normal">{{curuser.address}}</h3>
                <h3 style="text-align:center;line-height:15px;font-weight:normal">Email: {{curuser.email}} | Mobile: {{curuser.mobile}}</h3>
                <h3 style="text-align:center;line-height:.5px;font-weight:normal">DL No# {{curuser.dlno}}</h3>
                <h2 style="text-align:center">Purchased Order Details</h2>
                <hr />
                <h3 style="text-align:left;line-height:.5px;font-weight:normal">Vendor Details: {{childPO.vendorName }}, {{childPO.vendorCompany}}, {{childPO.vendorAddress}}, {{childPO.vendorContact}}</h3>
                <hr />
            </div>
            <table class="table table-striped table-advance table-hover" rules="rows" style="width:100%" id="tbl2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Mfg</th>
                        <th style="text-align:center">Stef</th>
                        <th style="text-align:center">Remark</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in childPO.cpoList">
                        <td>
                            {{$index + 1}}
                        </td>
                        <td>{{item.productName}}</td>
                        <td style="text-align:center">{{item.mfg}}</td>
                        <td style="text-align:center">{{item.stef}}</td>
                        <td style="text-align:center">{{item.remarks}}</td>
                        <td> <a href="" ng-click="DeletePurchasedItem(item)"><span style="color:red;"> X </span></a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="purchasedEntryView">

        <div ng-show="!isSuccessPOEntry">



            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-primary" ng-click="backToMail();">
                        << Purchased Order Inbox
                    </button>
                </div>
                <di v class="col-xs-8">
                    <label>Total Medicine: <strong> {{childPO.cpoList.length}}</strong> </label><br />
                    <label>Vendor : </label>
                    {{childPO.vendorName }}, {{childPO.vendorCompany}}, {{childPO.vendorAddress}}, {{childPO.vendorContact}}
            </div>

            <table class="table table-striped table-advance table-hover" rules="rows" style="width:100%" id="tbl3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Mfg</th>
                        <th style="text-align:center">Stef</th>
                        <th style="text-align:center">Batch No.</th>
                        <th style="text-align:center">Stef Price</th>
                        <th style="text-align:center">Tablets/Capsule</th>
                        <th style="text-align:center">Exp Date</th>
                        <th style="text-align:center">Remark</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in Prepurchased">
                        <td>
                            {{$index + 1}}
                        </td>

                        <td>{{item.Name}}</td>
                        <td style="text-align:center">{{item.Mfg}}</td>
                        <td style="text-align:center"><input type="number" min="1" ng-model="item.stef" class="form-control" placeholder="Stef" /></td>
                        <td style="text-align:center"><input type="text" ng-model="item.BatchNo" class="form-control" placeholder="batch No" /></td>
                        <td style="text-align:center"><input type="text" ng-model="item.eachStefPrice" class="form-control" placeholder="Each Stef Price" /></td>
                        <td style="text-align:center"><input type="text" ng-model="item.tabletsCapsule" class="form-control" placeholder="Tablets/Capsule" /></td>
                        <td style="text-align:center"><input type="text" ng-model="item.ExpDate" class="form-control" placeholder="Exp Date" /></td>
                        <td style="text-align:center"><input type="text" ng-model="item.Remark" class="form-control" placeholder="Remarks" /></td>

                    </tr>
                </tbody>
            </table>
            <hr />
            <button class="btn btn-primary" ng-click="onSubmitforCreatePurchased()">
                Submit
            </button>
        </div>
    </div>
    <div ng-show="isSuccessPOEntry">

        <div class="row alert alert-success" ng-show="isSuccessPOEntry">
            <strong>Success!</strong> {{POmsg}}
            <br /><br /> <hr />
            <a class="btn btn-primary" asp-action="Index" asp-controller="Purchased">
                << Purchsed Inbox
            </a>
        </div>
        <div class="row alert alert-danger" ng-show="!isSuccessPOEntry">
            <strong>Error!</strong> {{POmsg}}
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $('#menu').load('click', 'li', function () {
            $('#menu li.active').removeClass('active');
            console.log("#menu-purchase");
            $('#menu-purchase').addClass('active');
        });
    </script>
}