
@{
    ViewData["Title"] = "Index";
}

<h2>Purchased Inbox</h2>
<div class="blankpage-main" ng-controller="PurchasedInboxController">
    <div ng-show="!childPoView">


        <div class="row">
            <div class="col-xs-6">
                <label>Total PO Created: <strong> {{masterPo.length}}</strong> </label><br />
                @*<button class="btn btn-primary" style="float:right;" ng-click="CreateParchase();"> Create Purchase</button>*@
            </div>
            <div class="col-xs-6">

                <input type="text" placeholder="search" ng-model="search" class="form-control" />


            </div>
        </div>
        <table class="table table-striped table-advance table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Vendor</th>
                    <th>Created Date</th>
                    <th>No Of Medicine</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in masterPo| filter:search">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        {{item.vendorName }}<br /> {{item.vendorCompany}}
                        <br />{{item.vendorAddress}}, {{item.vendorContact}}
                    </td>
                    <td>{{item.placedOrder}}</td>
                    <td>{{item.noOfItems}}</td>
                    <td>{{item.status}}</td>
                    <td><a ng-click="childDetails(item);" style="cursor:pointer;">View details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="childPoView">
        <div class="row">
            <div class="col-xs-6">
                <label>Total Medicine: <strong> {{childPO.cpoList.length}}</strong> </label><br /> 
                <label>Vendor : </label> 
                {{childPO.vendorName }}, {{childPO.vendorCompany}}, {{childPO.vendorAddress}}, {{childPO.vendorContact}}                
            </div>
            <div class="col-xs-6">

               <button class="btn btn-primary" ng-click="backtoPurchased();">
                   << Purchased Order Inbox
               </button>
                <button class="btn btn-primary" ng-click="CreatePurchased();" style="float:right">
                    Create Purchased 
                </button>
            </div>
        </div>
        <table class="table table-striped table-advance table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Mfg</th>
                    <th>Qty</th>
                    <th>Remark</th> 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in childPO.cpoList">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>{{item.productID}} </td>
                    <td>{{item.productName}}</td>
                    <td>{{item.mfg}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{item.remarks}}</td>
                    <td> <a href="" ng-click="DeletePurchasedItem(item)"><span style="color:red;"> X </span></a> </td>
                </tr>
            </tbody>
        </table>
    </div>
   
     
</div>
